@font-face {
  font-family: "Charter";
  src: url("../font/Charter.eot");
  src: url("../font/Charter.eot?#iefix") format("embedded-opentype"),
    url("../font/Charter.woff2") format("woff2"),
    url("../font/Charter.woff") format("woff"),
    url("../font/Charter.ttf") format("truetype"),
    url("../font/Charter.svg#Charter") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  transition: 0.5s;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Charter";
  font-weight: 400;
}

main {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
}
main::after {
  position: absolute;
  top: -100px;
  right: -100px;
  background-color: #ababab14;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  z-index: -1;
  content: "";
}
section {
  padding: 80px 0;
}
h6 {
  color: #582dbd;
  font-weight: 600;
  font-size: 20px;
}
h1 {
  font-size: 60px;
  color: #2f1c6a;
  font-weight: 600;
}
h2 {
  font-size: 50px;
  color: #2f1c6a;
  font-weight: 600;
}
h3 {
  font-size: 40px;
  color: #2f1c6a;
  font-weight: 600;
}
p {
  color: #333;
  letter-spacing: 2px;
  font-weight: 400;
}
a {
  color: #acacac;
  font-weight: 700;
  text-decoration: none;
}
svg,
i {
  font-size: 10px;
  color: #582dbd;
}
button {
  color: #000 !important;
  border: 1px solid #000;
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px 25px !important;
  background: transparent;
  border-radius: 50px;
}
/*==================
     Main css
==================== */
.logo {
  width: 10%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 99;
}
nav.sticky {
  background-color: #e4dbfc;
}
.title span {
  color: #582dbd;
}
.icon img {
  width: 50px;
  margin-left: -10px;
}
.card {
  border: none;
  background: transparent;
  padding: 10px 30px;
  border-radius: 15px;
}
.card-title {
  font-size: 26px;
  margin: 10px 0;
  font-weight: 600;
  font-family: "Charter";
}
.card-text {
  font-size: 16px;
}
.features,
.comments,
.work-flow,
.learning,
.wordpress-web {
  background: #ababab0f;
}
.goal-counter .card {
  background: #ffffff !important;
  padding: 5px 25px;
  width: 80%;
}
.goal-icons {
  width: 90%;
}
/*==================
     Responsive css
==================== */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 40px;
  }
  .goal-icons {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .goal-counter .card {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
}
